---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<h2>Languages/Framework</h2>
		<ul>
			<li>React.js</li>
			<li>Typescript</li>
			<li>Javascript(ES6)</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2>State Manager</h2>
		<ul>
			<li>Redux</li>
			<li>Context API</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2>Style</h2>
		<ul>
			<li>SASS/CSS</li>
			<li>Styled-Components</li>
		</ul>
	</div>
</section>

<style>

	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills ul li {
		font-size: var(--text-lg)
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
